{# src src/Gobernacion/RrhhBundle/Resource/views/Direccion/new.html.twig #}
{% extends app.request.isXmlHttpRequest  ? 'ConfigurationGralBundle::layout_ajax.html.twig' :'ConfigurationGralBundle::layout.html.twig' %}

{% block title %}Creación de Direccion{% endblock %}

{% block pageid 'new' %}

{% block body %}

    <div class="grid_16 " >
        {{ parent() }}
      
           <form action="{{ path('dep_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                    
                {% if not app.request.isXmlHttpRequest %}
		<div class="grid_2 prefix_7" >
		    <p>
			<input type="submit" value="Guardar" />
		    </p>
		</div>
                <div class="clear"></div>
                <div class="grid_2 prefix_7" >
                    <p>
                        {% set Uri =  url('dep') %}
                        {{- block('listado') -}}                        
		    </p>
		</div>                    
                {% endif %}

        </form>
      
    </div>
{% endblock body%}                    
                