{% import "ConfigurationGralBundle::macros_form.html.twig" as forms %}
                {# Primera columna #}
                    <div class="grid_4 omega" >
                        {{ forms.input(form_persona.cedula, { 'attr': {'placeholder': '  Escriba su cedula '} })  }}
                    </div>
                    <div class="grid_5" >
                        {{ forms.input(form_persona.nombre, { 'attr': {'placeholder': '  Escriba su nombre '} }) }}
                    </div>
                    <div class="grid_6 omega" >
                        {{ forms.input(form_persona.apellido, { 'attr': {'placeholder': '  Escriba su apellido '} }) }}
                    </div>
		<div class="clear"></div>
                {# Segunda columna #}
                    <div class="grid_4 omega" >
                        {{ forms.input(form_persona.sexo)  }}
                    </div>
                    <div class="grid_5" >
                        {{ forms.input(form_persona.tlfCelular, { 'attr': {'placeholder': '  Escriba su telefono Cel'} }) }}
                    </div>
                    <div class="grid_6 omega" >
                        {{ forms.input(form_persona.tlfHabitacion, { 'attr': {'placeholder': '  Escriba su telefono Hab '} }) }}
                    </div>
		<div class="clear"></div>




